.widget-concacaf-select {
    outline: none !important;
    border: unset !important;
}

.widget-concacaf-select:focus {
    box-shadow: transparent !important;
    outline: none !important;
    border: unset !important;
}

.widget-concacaf-select > option {
    padding: 16px;
}

.swiper-pagination-bullet-active{
    background-color:#D8B97D !important
}